@media screen and (max-width : 651px) {
  
    h1 {
      font-size: 4em;
    }
    h2{
      font-size: 1.5em;
      
    }
    h3{
      font-size: 1.2em;
    }
    h5{
      font-size: 0.9em;
    }
    hr{
      border-top: 0.5mm ridge rgba(252, 252, 252, 0.5);
      margin: 50px 25%;
    }
    
    
    .all-rights{
      font-size: 0.7em;
    margin:  30px auto;
  }

  .skill-image {
    height: 4em;
    padding: 1em;
}
.main-image {
    height: 10em;
    padding: 1em;
}
.bottom-container{
  display: block;
  text-align: center;
  width: 250px;
  margin: 10px auto ;
}
a{
  margin-top: 1em;
 display: block;
 text-align: right;
  }
  a>img{    float: left;
    height: 1em;
}

.center-link-img{
  top:1em;
  right: 1em;
}

    }