@media screen and (max-width : 520px) {
  
    h1 {
      font-size: 4em;
    }
    h2{
      font-size: 1.5em;
      
    }
    h3{
      font-size: 1.2em;
    }
    h5{
      font-size: 0.9em;
    }
    hr{
      border-top: 0.5mm ridge rgba(252, 252, 252, 0.5);
      margin: 50px 25%;
    }
 
    
    .all-rights{
      font-size: 0.7em;
    margin:  30px auto;
  }

  .skill-image {
    height: 4em;
    padding: 1em;
}
.main-image {
    height: 10em;
    padding: 1em;
}
.bottom-container{
  display: block;
  text-align: center;
  width: 250px;
  margin: 10px auto ;
}
a{
  margin-top: 1em;
 display: block;
  }
  a>img{
    height: 1em;
}

.center-link-img{
  top:1em;
  right: 1em;
}


/*     
    
    a{
      color: white; 
        text-align: left;
        display: block;
        font-family: 'Open Sans', sans-serif;
        text-decoration: none;
        margin-top: 10px;
        position: relative;
        left:50px;
    }
    a:hover{
      color: #feec33;
    }
    */
    /* ********************** Class tags ********************** */
    /*  */
    
    /* .box{
      background-color: rgba(252, 252, 252, 0.2);
      border-radius: 25px;
      border: 1mm ridge white;
      box-shadow: 5px 5px rgba(1,1,1, 0.5);
    }
    .skill-image {
        height: 4em;
        padding: 1em;
    }
    .main-image {
        height: 10em;
        padding: 4em;
    }
    .skills-upper-div, .skills-lower-div {
        margin-left: 50px;
        margin-right: 50px;
    }
    .android-image {
        right: 8em;
        top: 6.5em;
    }
    .react-image {
        left: 8em;
        bottom: 0.5em;
    
    }
    .ios-image {
        right: 9em;
        bottom: 2em;
    }
    .js-image {
        left: 8em;
        top: 10em;
    }
    .java-image {
        right: 4em;
        bottom: 6em;
    }
    .css-image {
        left: 1em;
        bottom: 2em;
    }
    .node-image {
        left: 3em;
        top: 13em;
    }
    .html5-image {
        right: 2em;
        top: 10em;
    }


    .edu-col, .work-exp-col{
      display: inline-table;
      height: 15em;
      width: 20em;
      margin-top: 30px;
    }
    .work-exp-title{
      display: block;
      text-shadow:  3px 3px rgba(1,1,1, 0.5);
    }
    .edu-title{
      display: inline-block;
      margin: auto 20px;
      text-shadow:  3px 3px rgba(1,1,1, 0.5);
    }
    .edu-years, .work-exp-years{
      font-style: italic;
    }
    
    .work-exp-company, .edu-company{
      font-weight: 100;
      margin-top: 5px;
      color:#feec33;
    }
    
    .edu-img, .work-exp-img{
        margin: 0 auto;
        display: block;
      height: 8em;
      width: 8em;
    }
    .subtitle-color{
      color: #ff6600;
    }
    .subtitle-size {
      font-size: 1.6em;
    }
    
  
     */
    
    /* ********************** ID tags ********************** */
    }